<section>
    <h1>Employment</h1>
    <article>
      <header>
        <h1>Sr. Software Engineer</h1>
        <span><address>Osaro, San Francisco, USA</address><time>March 2023 to Present</time></span>
      </header>
      <p>
        Designing solution for strategically important problems and communicating design with engineers, customers and executives.<br>
        Migrated ML workflows to Airflow on Kubernetes to provide better visibility, reliability and developer experience.
        Fixed issues with data ingestion pipeline and later replaced it with more scalable solution.
        Designed and implemented solution for orchestration, management and monitoring edge nodes.
      </p>
      <em>Keywords: Robotics, Edge Computing, Fleet orchestration, Rust, Python, Airflow, BigQuery </em>
  </article>
    <article>
      <header>
        <h1>Sr. Software Engineer</h1>
        <span><address>Facebook/Meta, Menlo Park, USA</address><time>August 2021 to January 2023</time></span>
      </header>
      <p>
        Working cross-functionally with engineering leaders across the engineering org.
        Leading projects in data visualization and privacy for Meta Digital Experience intelligence platform.<br>
        Our team was mostly focused on development and support of company-wide frameworks for visualization
        and integrating privacy into our products.
      </p>
      <em>Keywords: Visualization, Privacy, JavaScript, Flow, React, GraphQL, Relay, Hack</em>
  </article>
  <article>
    <header>
      <h1>Principal Engineer</h1>
      <span><address>LiveRamp, San Francisco, USA</address><time>October 2019 to March 2021</time></span>
    </header>
    <p>
      Architecting and leading the technical implementation of new reliability platform.<br>
      Introducing observability for all company products, mentoring engineers and engineer managers on best practices
      of product development and Continious Delivery.
      Combined daily IC work with mentorship, management and team training.
    </p>
    <em>Keywords: Observability, Mentorship, Management, TypeScript, Golang, Python, React, Terraform, ArgoCD</em>
  </article>
  <article>
    <header>
      <h1>Sr. Software Engineer</h1>
      <span><address>Credit Karma, San Francisco, USA</address><time>June 2017 to October 2019</time></span>
    </header>
    <p>
      Joined as a member of the Developer Efficiency team and become a Dev Lead of multiple internal projects.
      Leading and contributing to the hands-on design and implementation of major new products and features.
      Acting as a Developer Advocate to popularize our products within company and outside and help recruit
      top engineers into our company.
    </p>
    <em>Keywords: Developer Tools, TypeScript, Golang, Python, k8s, Airflow, AWS, GCP, Terraform, GraphQL, Thrift, gRPC</em>
  </article>
  <article>
    <header>
      <h1>Sr. Software Engineer</h1>
      <span><address>Demandbase, San Francisco, USA</address><time>August 2013 to May 2017</time></span>
    </header>
    <p>
      Producing quality software that is shipped incrementally and continually at a high velocity.
      Tackling large scaling challenges that involve scaling our capabilities.<br>
      Started from a small team where each engineer was responsible for building products from scratch up
      to deployment and support in production.
    </p>
    <em>Keywords: Rails, React, ES6, Postgres, Chef, AWS, Druid, Hive, SAML SSO, Oauth2, Swagger</em>
  </article>
  <article>
    <header>
      <h1>Sr. Software Engineer</h1>
      <span><address>Bunkermode, San Francisco, USA</address><time>June 2012 to August 2013</time></span>
    </header>
    <p>
      Working on mobile game, where fans with their friends could bet on and track live sporting events.
      Mostly acted as a back-end developer: developing, deploying and supporting application services.
      Created custom analytics dashboard with DSL support to gather and display game metrics.
    </p>
    <em>Keywords: Rails, MySQL, Memcached, Heroku, AWS, Facebook, APN, Google Charts</em>
  </article>
  <article>
    <header>
      <h1>Software Engineer</h1>
      <span><address>GlobalLogic, Lviv, Ukraine</address><time>June 2010 to June 2011</time></span>
    </header>
    <p>
      Worked with TCL, Python and Selenium automation tests.
      Implemented social games analytics service and a whole set of metrics for acquisition, engagement,
      retention and revenue for the same customers.
    </p>
    <em>Keywords: Python, Selenium, Rails, MySQL, Capistrano, XMPP</em>
  </article>
  <article>
    <header>
      <h1>QA Engineer</h1>
      <span><address>Lohika, Lviv, Ukraine</address><time>April 2007 to June 2010</time></span>
    </header>
    <p>
      Macrovision set top boxes testing. Writing test-cases and running them on embedded devices,
      configuration and tests automation using bash and Python.
    </p>
    <em>Keywords: Python, Bash, embedded linux</em>
  </article>
  <article>
    <header>
      <h1>QA Engineer</h1>
      <span><address>Eleks Software, Lviv, Ukraine</address><time>July 2006 to April 2007</time></span>
    </header>
    <p>
      Symantec antivirus testing. Manual software localization testing with test-case writing.
    </p>
  </article>
</section>
