<section class="thirteen columns">
  <h1>Employment</h1>
  <article>
    <header>
      <h1>Principal Engineer</h1>
      <span><address>LiveRamp, San Francisco, USA</address><time>October 2019 to March 2021</time></span>
    </header>
    <p>
      Worked with Head of Quality and Reliability to solve production reliability problems. It required
      collaboration with multiple teams and building synthetic testing and reporting infrastructure.
      Due to a lack of staging environment, I created Heroku-like POC self-service on top of Kubernetes and
      Istio that allowed to enroll service in managed staging environment.
    </p>
    <em>Keywords: TypeScript, Golang, Python, Ruby, React, Terraform, k8s, Istio, Airflow, GCP, GraphQL, Cucumber, ArgoCD</em>
  </article>
  <article>
    <header>
      <h1>Sr. Software Engineer</h1>
      <span><address>Credit Karma, San Francisco, USA</address><time>June 2017 to October 2019</time></span>
    </header>
    <p>
      Joined as a member of Developer Efficiency team and a Dev Lead of multiple internal projects. I was responsible
      for support and development of internal tools and services. My work also involves writing RFC, getting new projects
      through approvals, collaborating with other teams, building POC and promoting our tools throughout the company.
    </p>
    <em>Keywords: TypeScript, Golang, Python, Ruby, k8s, Airflow, AWS, GCP, Terraform, GraphQL, Thrift, gRPC, Tensorflow, NLP</em>
  </article>
  <article>
    <header>
      <h1>Sr. Software Engineer</h1>
      <span><address>Demandbase, San Francisco, USA</address><time>August 2013 to May 2017</time></span>
    </header>
    <p>
      Targeted marketing product for B2B companies. Started from a small team where each engineer was responsible
      for building product from scratch up to deployment and support in production. Working as a full-stack developer,
      supporting current platform.
    </p>
    <em>Keywords: Rails, React, ES6, Postgres, Chef, AWS, Druid, Hive, SAML SSO, Oauth2, Swagger</em>
  </article>
  <article>
    <header>
      <h1>Sr. Software Engineer</h1>
      <span><address>Bunkermode, San Francisco, USA</address><time>June 2012 to August 2013</time></span>
    </header>
    <p>
      Mobile sports betting game, where fans with their friends could bet on and track live sporting events.
      Working as a back-end developer: developing, deploying and supporting application services. Created
      custom analytics dashboard with DSL support to gather and display game metrics.
    </p>
    <em>Keywords: Rails, MySQL, Memcached, Heroku, AWS, Facebook, APN, Google Charts</em>
  </article>
  <article>
    <header>
      <h1>Software Engineer</h1>
      <span><address>GlobalLogic, Lviv, Ukraine</address><time>June 2010 to June 2011</time></span>
    </header>
    <p>
      Started as QA Automation Engineer for Funambol project. Worked with TCL, Python and Selenium automation tests.
      Switched to Software Engineer and worked on a Bingo game back-end for Facebook platform. Implemented social games
      analytics service and a whole set of metrics for acquisition, engagement, retention and revenue for the same customers.
    </p>
    <em>Keywords: Python, Selenium, Rails, MySQL, Capistrano, XMPP</em>
  </article>
  <article>
    <header>
      <h1>QA Engineer</h1>
      <span><address>Lohika, Lviv, Ukraine</address><time>April 2007 to June 2010</time></span>
    </header>
    <p>
      Macrovision set top boxes testing. Writing test-cases and running them on embedded devices,
      configuration and tests automation using bash and Python.
    </p>
    <em>Keywords: Python, Bash, embedded linux</em>
  </article>
  <article>
    <header>
      <h1>QA Engineer</h1>
      <span><address>Eleks Software, Lviv, Ukraine</address><time>July 2006 to April 2007</time></span>
    </header>
    <p>
      Symantec antivirus testing. Manual software localization testing with test-case writing.
    </p>
  </article>
</section>
