<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Demandbase/qubole-ruby">qubole-ruby</a></strong>
			- Communication with Qubole REST API in a Ruby way.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Demandbase/gooddata">gooddata</a></strong>
			- GoodData REST API client.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/vladnik/rumba-crawler">rumba-crawler</a></strong>
			- Web crawler with JSON-based DSL and EventMachine-powered page fetching.
		</h5>
    </div>
  </div>
</div>
</section>
