<section class="print-hide" >
    <h1>Programming Skills</h1>
    <article>
      {% for skill in site.skills %}
        <p>
          {% for i in (1..5) %}
          {% assign ceiled = skill[1] | ceil %}
            {% if skill[1] >= i %}
              <i class="fa fa-star"></i>
            {% elsif ceiled == i %}
              <i class="fas fa-star-half-alt"></i>
            {% else %}
              <i class="far fa-star"></i>
            {% endif %}
          {% endfor %}
          {{ skill[0] }}
        </p>
      {% endfor %}
    </article>
  </section>
  