---
layout: layout
---

<div class="container resume">
  <div class="row">
    <header class="col-sm-3 col-md-3 col-lg-3">
      <!-- <div class="me-container"> -->
        <img src="{{ site.baseurl }}static/img/profile.jpg" class="me">
      <!-- </div> -->
      <h1>{{ site.author }}</h1>
      <p>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a><br/>
      </p>
      <address>
          <a href="{{ site.google_maps }}">
              {{ site.city }}<br/>
              {{ site.country }}
          </a>
      </address>
      <p>
          <a href="https://{{ site.website }}">{{ site.website }}</a><br/>
      </p>
      <p>

          <a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i> Github</a> /
          <a href="https://www.linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i> LinkedIn</a>
      </p>
    </header>
    <div class="col-sm-9 col-md-9 col-lg-9">
      {{ content }}
    </div>
  </div>
</div>
